Package: com.egistli.tweak.xuiteyovelox
Name: Xuite Yo Velox
Depends: firmware (>= 6.0), com.apextweaks.velox
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome folder for Velox!
Maintainer: Egist Li
Author: Egist Li
Section: Addons (Velox)
